header {
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 300px;
  max-width: 70%;
  padding: 0.2rem;
  border: 1px solid black;
  margin: 2rem auto;
}

main > .row {
  padding: 0.2rem;
  border: 1px solid black;
  max-height: 500px;
  flex: 1;
  display: flex;
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row > .head {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  flex: 1;
  gap: 0.2rem;
}

main > .row > .head > * {
  border: 1px solid black;
}

main > .row > .head > .title {
  flex: 0.2;
}

main > .row > .head > .description {
  flex: 1;
}

main > .row > .body {
}

footer {
}
