body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

header {
}

main {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  /* min-width: 300px; */
  width: 70%;
  padding: 0.2rem;
  border: 1px solid black;
  margin: 2rem auto;
}

main > .row {
  padding: 0.2rem;
  border: 1px solid black;
  max-height: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row > .head {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  flex: 0.1;
  gap: 0.2rem;
  border: 1px solid black;
  background-color: antiquewhite;
}

main > .row > .head > * {
}

main > .row > .head > .title {
  flex: 0.2;
}

main > .row > .head > .title > p {
  font-size: 1.5rem;
  font-weight: bold;
}

main > .row > .head > .description {
  flex: 1;
}

main > .row > .body {
  flex: 1;
  border: 1px solid black;
}

main > .row-ricetta {
}

main > .row-ho-ingrediente {
}

main > .row-ho-ingrediente > .body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.2rem;
}

main > .row-ho-ingrediente > .body > * {
  border: 1px solid black;
}

main > .row-ho-ingrediente > .body > .row-input {
  flex: 0.1;
  display: flex;
  flex-direction: column;
}

main > .row-ho-ingrediente > .body > .row-input > .title,
main > .row-ho-ingrediente > .body > .row-output > .title {
  /* flex: 0.1; */
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  padding: 0.2rem;
  text-align: center;
  background-color: rgb(207, 232, 240);
  /* font-size: 1.2rem; */
}

main > .row-ho-ingrediente > .body > .row-input > .content {
  flex: 1;
  padding: .5rem;
}

main > .row-ho-ingrediente > .body > .row-output {
  flex: 1;
}

main > .row-ho-tot {
}

footer {
}
