body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

table.table-default {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid rgb(150, 150, 150);
}

table.table-con-totali tfoot {
    background-color: rgb(241, 241, 241);
}

table.table-con-totali tfoot tr td {
    border-top: 1px solid black;
    font-weight: bold;
}

table.table-con-totali tfoot tr td:nth-child(1) {
    text-align: right;
}

table.table-default td,
table.table-default th {
  padding: 0.4rem;
}

table.table-default tbody tr:nth-child(even) {
  background-color: rgb(244, 244, 244);
}

table.table-default thead th:not(:nth-last-child(1)),
table.table-default tbody td:not(:nth-last-child(1)) {
  border-right: 1px solid lightgray;
}

table.table-default thead tr th {
  border-bottom: 2px solid rgb(144, 144, 144);
  background-color: rgb(211, 231, 249);
}

table.table-default thead tr th:nth-last-child(1),
table.table-default tbody tr td:nth-last-child(1) {
  text-align: right;
}

header {
}

main {
  display: flex;
  flex-direction: column;
  /* min-height: 700px; */
  /* min-width: 300px; */
  width: 70%;
  padding: 0.2rem;
  /* border: 1px solid black; */
  margin: 2rem auto;
}

main > .row {
  padding: 0.2rem;
  border: 2px solid black;
  max-height: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: .3rem;
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row > .head {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  flex: 0.1;
  gap: 0.2rem;
  border: 1px solid black;
  background-color: antiquewhite;
}

main > .row > .head > * {
}

main > .row > .head > .title {
  flex: 0.2;
}

main > .row > .head > .title > p {
  font-size: 1.5rem;
  font-weight: bold;
}

main > .row > .head > .description {
  flex: 1;
}

main > .row > .body {
  flex: 1;
  /* border: 1px solid black; */
}

main > .row > .body > .row-arrow {
    text-align: center;
    border: 0;
    font-size: 2rem;
}

main > .row-ricetta {
}

/* ROW: HO INGREDIENTE */

main > .row-ho-ingrediente {
}

main > .row-ho-ingrediente > .body,
main > .row-ho-tot > .body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* padding: 0.2rem; */
}

main > .row-ho-ingrediente > .body > *,
main > .row-ho-tot > .body > * {
  border: 1px solid black;
}

main > .row-ho-ingrediente > .body > .row-input,
main > .row-ho-tot > .body > .row-input {
  flex: 0.1;
  display: flex;
  flex-direction: column;
}

main > .row-ho-ingrediente > .body > .row-input > .title,
main > .row-ho-ingrediente > .body > .row-output > .title,
main > .row-ho-tot > .body > .row-input > .title,
main > .row-ho-tot > .body > .row-output > .title {
  /* flex: 0.1; */
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  padding: 0.2rem;
  text-align: center;
  background-color: rgb(207, 232, 240);
  /* font-size: 1.2rem; */
}

main > .row-ho-ingrediente > .body > .row-input > .content,
main > .row-ho-tot > .body > .row-input > .content {
  flex: 1;
  padding: 0.5rem;
}

main > .row-ho-ingrediente > .body > .row-output,
main > .row-ho-tot > .body > .row-output {
  flex: 1;
}

main > .row-ho-ingrediente > .body > .row-output > .content,
main > .row-ho-tot > .body > .row-output > .content {
  padding-bottom: .5rem;
}

main > .row-ho-ingrediente > .body > .row-output > .content > .table-container,
main > .row-ho-tot > .body > .row-output > .content > .table-container {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

main > .row-ho-ingrediente > .body > .row-output > .content > .table-container > table,
main > .row-ho-tot > .body > .row-output > .content > .table-container > table {
  width: 100%;
  min-width: 300px;
}

/* ROW: HO TOTALE */

main > .row-ho-tot {
}

footer {
}
